a {
    color: #599ad3;
}

h1 {
    color: #e3185d;
    margin-top: 0.5em;
    margin-bottom: 0%;
    padding-left: 0.25em;
}

table, td, th {
    border-color: #000000;
    border: 1pt solid;
    border-collapse: collapse;
}

table {
    margin: auto 20%;
    width: 60%;
}

td {
    padding: 0.25em;
}

.card-body, .content {
    background-color: white;
}

.card-subtitle {
    font-size: medium;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding: 1em;
    border: 1pt solid;
    border-radius: 0.25em;
    border-color: #f1f3f6;
}

.subtitle {
    margin-top: 0.5em;
    font-size: small;
    max-width: 45%;
}

.title {
    margin-right: auto;
    min-width: 50%;
    max-width: 80%;
}

.title-line {
    display: flex;
    width: 100%;
    padding-bottom: 1em;
}

.hidden {
    font-size: 0%;
    margin: 0%;
}

.lead{
    color: #000000;

}

.no-wrap {
    white-space: nowrap;
}

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.v-tabs {
    column-count: 1;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
}

.row {
    background-color: #f1f3f6;
}

.nav-pills > a.active {
    background-color: #599ad3 !important;
}

.nav-pills > a:hover {
    background-color: #ffffff;
}

.nav-link {
    color: #599ad3;
}

#job-title {
    margin-top: -10px;
    margin-left: 25px;
    margin-bottom: 20px;
}

#about-me {
    float: left;
    width: 50%;
}

#me-img {
    display: block;
    border: 0.4em solid #000000;
    border-radius: 50%;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    min-width: none;
    max-width: 40%;
    padding: 0.2em;
}

#contact {
    margin: 1em;
    float: left;
}